@inject IJSRuntime JS

<nav class="sidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ssealconfigurator">SSeal Configurator</a></li>

        <li style="margin-top:20px;">
            <button class="dark-btn" @onclick="ToggleDarkMode">
                Toggle Dark Mode
            </button>
        </li>
    </ul>
</nav>

@code {
    private async Task ToggleDarkMode()
    {
        await JS.InvokeVoidAsync("toggleDarkMode");
    }
}
